/* reset style of form */

form {
    margin: 0;
}

input, select, textarea, button {
    box-sizing: border-box;
    outline: none;

    font-family: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;
}

input:focus, select:focus {
    outline: none;
}

/* ------------------- */

form h2 {
    font-size: 36px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
}

select {
    padding: 10px;
    margin: 0 5px 0 0;
    font-size: 20px;
}

input[type=submit] {
    cursor: pointer;
    padding: 10px 25px;
    width: fit-content;
}

input[type=checkbox] {
    padding: 0;
    margin: 0;
    width: auto;
}